<settings
		xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
>

	<servers>
		<server>
			<id>acm-release</id>
			<username>${env.ACM_REPO_USERNAME}</username>
			<password>${env.ACM_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>acm-snapshot</id>
			<username>${env.ACM_REPO_USERNAME}</username>
			<password>${env.ACM_REPO_PASSWORD}</password>
		</server>
		<server>
			<id>central-mirror</id>
			<username>${env.ACM_REPO_USERNAME}</username>
			<password>${env.ACM_REPO_PASSWORD}</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>acm-mirror</id>
			<name>Mirror to Acromere Maven Repository</name>
			<url>https://repo.acromere.com/acm</url>
			<mirrorOf>*,!central</mirrorOf>
		</mirror>
		<mirror>
			<id>central-mirror</id>
			<name>Mirror to Acromere Maven Repository</name>
			<url>https://repo.acromere.com/central</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

	<activeProfiles>
		<activeProfile>signjar</activeProfile>
	</activeProfiles>

	<profiles>
		<profile>
			<id>signjar</id>
			<properties>
				<jarsigner.keystore>.github/acromere.keystore</jarsigner.keystore>
				<jarsigner.keystore.password>${env.ACM_KEYSTORE_PASSWORD}</jarsigner.keystore.password>
			</properties>
		</profile>
	</profiles>

</settings>
