name: Acromere Seenc CI

on: [push, pull_request]

env:
  ACM_GPG_PASSWORD: ${{ secrets.ACM_GPG_PASSWORD }}
  ACM_KEYSTORE_PASSWORD: ${{ secrets.ACM_KEYSTORE_PASSWORD }}
  ACM_MAVEN_REPO_USERNAME: ${{ secrets.ACM_MAVEN_REPO_USERNAME }}
  ACM_MAVEN_REPO_PASSWORD: ${{ secrets.ACM_MAVEN_REPO_PASSWORD }}
  ACM_XENON_REPO_USERNAME: ${{ secrets.ACM_XENON_REPO_USERNAME }}
  ACM_XENON_REPO_PASSWORD: ${{ secrets.ACM_XENON_REPO_PASSWORD }}
  GITHUB_REF: ${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Fetch sources
      uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: 17
        java-package: jdk
    - name: Build
      run: mvn test -B -U -V --settings .github/settings.xml --file pom.xml
    - name: Deploy
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/stable' || github.base_ref == 'refs/heads/main' || github.base_ref == 'refs/heads/stable'
      run: .github/deploy.sh
